# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Results folder
Results/

#from report folder, ignore the build files but not the .tex files
report/*
!report/main.tex
!report/main.pdf
!report/Introduction.tex
!report/Methods.tex
!report/Results.tex
!report/Discussion.tex
!report/Conclusion.tex
!report/biblio.bib
!report/figures/

#from data_processing folder, ignore .csv
data_processing/*.csv
data_processing/data/*.csv

